@import url(https://fonts.google.com/specimen/Lexend);

:root {
  --main-color: #646cff;
  --main-color-low: #646cffdd;
  --main-color-high: #888eff;

  --normal-font: #ffffffde;

  --button: #1a1a1a;
  --button-active: #222222;

  --bg-color: #242424;
  --calc-color: #1a1a1a;
  --screen-color: #ffffff11;

  --shadows: #00000040;
  --calc-shadows: #00000049;
  --screen-shadows: #000000a8;

  /* <========================> */

  font-family: 'Lexend';
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: var(--normal-font);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: var(--main-color);
  text-decoration: inherit;
}

a:hover {
  color: var(--main-color-high);
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.calc {
  border-radius: 8px;
  border: 1px solid transparent;
  border-color: var(--main-color);
  background-color: var(--calc-color);

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  justify-content: center;
  align-items: center;
  align-content: center;

  width: 300px;
  height: 600px;

  padding: 10px;

  filter: drop-shadow(0px 20px 10px var(--calc-shadows))
}